.color-white {
  color: $neutral-white;
}

.color-black {
  color: $neutral-black;
}

.color-grey {
  color: $neutral-gray;
}

.color-primary-base {
  color: $primary-base;
}

.color-primary-base-light {
  color: $primary-base-light;
}

.color-primary-base-lighter {
  color: $primary-base-lighter;
}

.color-secondary-base {
  color: $secondary-base;
}

.color-secondary-base-light {
  color: $secondary-base-light;
}

.color-secondary-base-lighter {
  color: $secondary-base-lighter;
}

.bg--white {
  background-color: $neutral-white;
}

.bg--black {
  background-color: $neutral-black;
}

.bg--gray {
  background-color: $neutral-gray;
}

.bg-primary-base {
  background-color: $primary-base;
}

.bg-primary-base-light {
  background-color: $primary-base-light;
}

.bg-primary-base-lighter {
  background-color: $primary-base-lighter;
}

.bg-secondary-base {
  background-color: $secondary-base;
}

.bg-secondary-base-light {
  background-color: $secondary-base-light;
}

.bg-secondary-base-lighter {
  background-color: $secondary-base-lighter;
}

.bg-accent {
  background-color: $accent;
}