$primary-base: #0a74ff;
$primary-base-light: #66a3ff;
$primary-base-lighter: #99c2ff;
$accent: #cdb3ff;
$secondary-base: #998243;
$secondary-base-light: #f0cc69;
$secondary-base-lighter: #ffd970;
$neutral-white: #ffffff;
$neutral-gray: #AEB7B3;
$neutral-gray-light: #e6ecec;
$neutral-black: #000411;

$spacing-8: 8px;
$spacing-16: 16px;
$spacing-24: 24px;
$spacing-32: 32px;
$spacing-40: 40px;
$spacing-48: 48px;
$spacing-56: 56px;
$spacing-64: 64px;
$spacing-72: 72px;
$spacing-96: 96px;

@media screen and (max-width: 768px) {
  $spacing-8: 4px;
  $spacing-16: 8px;
  $spacing-24: 12px;
  $spacing-32: 16px;
  $spacing-40: 20px;
  $spacing-48: 24px;
  $spacing-56: 28px;
  $spacing-64: 32px;
  $spacing-72: 48px;
  $spacing-96: 56px;
}

$header-height-default: 85px;
$header-height-mobile: 75px;
$aux-height: 37px;
