:root {
  --font-regular: "RobotoLight";
  --font-semibold: "RobotoLight";
  --font-bold: "RobotoBold";

  --h1-font-family: var(--font-bold);
  --h1-font-weight: 700;
  --h1-line-height: 1.1;
  --h1-font-size-mobile: 36px;
  --h1-font-size-tablet: 78px;
  --h1-font-size-small-desktop: 78px;

  --h2-font-family: var(--font-bold);
  --h2-font-weight: 700;
  --h2-line-height: 1.1;
  --h2-font-size-mobile: 32px;
  --h2-font-size-tablet: 56px;
  --h2-font-size-small-desktop: 56px;

  --h3-font-family: var(--font-bold);
  --h3-font-weight: 700;
  --h3-line-height: 1.2;
  --h3-font-size-mobile: 28px;
  --h3-font-size-tablet: 44px;
  --h3-font-size-small-desktop: 44px;

  --h4-font-family: var(--font-bold);
  --h4-font-weight: 700;
  --h4-line-height: 1.3;
  --h4-font-size-mobile: 24px;
  --h4-font-size-tablet: 36px;
  --h4-font-size-small-desktop: 36px;

  --h5-font-family: var(--font-regular);
  --h5-font-weight: 400;
  --h5-line-height: 1.3;
  --h5-font-size-mobile: 24px;
  --h5-font-size-tablet: 36px;
  --h5-font-size-small-desktop: 36px;

  --h6-font-family: var(--font-bold);
  --h6-font-weight: 700;
  --h6-line-height: 1.3;
  --h6-font-size-mobile: 20px;
  --h6-font-size-tablet: 24px;
  --h6-font-size-small-desktop: 24px;

  --p-lrg-font-family: var(--font-regular);
  --p-lrg-font-weight: 400;
  --p-lrg-line-height: 1.5;
  --p-lrg-font-size-mobile: 16px;
  --p-lrg-font-size-tablet: 18px;
  --p-lrg-font-size-small-desktop: 18px;

  --p-lrg--b-font-family: var(--font-bold);
  --p-lrg--b-font-weight: 700;
  --p-lrg--b-line-height: 1.5;
  --p-lrg--b-font-size-mobile: 16px;
  --p-lrg--b-font-size-tablet: 18px;
  --p-lrg--b-font-size-small-desktop: 18px;

  --p-font-family: var(--font-regular);
  --p-font-weight: 400;
  --p-line-height: 1.5;
  --p-font-size-mobile: 16px;
  --p-font-size-tablet: 16px;
  --p-font-size-small-desktop: 16px;

  --p--b-font-family: var(--font-semibold);
  --p--b-font-weight: 600;
  --p--b-line-height: 1.5;
  --p--b-font-size-mobile: 16px;
  --p--b-font-size-tablet: 16px;
  --p--b-font-size-small-desktop: 16px;

  --small-font-family: var(--font-regular);
  --small-font-weight: 400;
  --small-line-height: 1.5;
  --small-font-size-mobile: 13px;
  --small-font-size-tablet: 13px;
  --small-font-size-small-desktop: 13px;

  --small--b-font-family: var(--font-semibold);
  --small--b-font-weight: 600;
  --small--b-line-height: 1.5;
  --small--b-font-size-mobile: 13px;
  --small--b-font-size-tablet: 13px;
  --small--b-font-size-small-desktop: 13px;

  --tag-font-family: var(--font-regular);
  --tag-font-weight: 400;
  --tag-line-height: 1.2;
  --tag-font-size-mobile: 16px;
  --tag-font-size-tablet: 16px;
  --tag-font-size-small-desktop: 16px;

  --tag--b-font-family: var(--font-bold);
  --tag--b-font-weight: 700;
  --tag--b-line-height: 1.2;
  --tag--b-font-size-mobile: 16px;
  --tag--b-font-size-tablet: 16px;
  --tag--b-font-size-small-desktop: 16px;

  --tag-small-font-family: var(--font-bold);
  --tag-small-font-weight: 700;
  --tag-small-line-height: 1.2;
  --tag-small-font-size-mobile: 14px;
  --tag-small-font-size-tablet: 14px;
  --tag-small-font-size-small-desktop: 14px;

  --caveats-font-family: var(--font-regular);
  --caveats-font-weight: 400;
  --caveats-line-height: 1.6;
  --caveats-font-size-mobile: 14px;
  --caveats-font-size-tablet: 14px;
  --caveats-font-size-small-desktop: 14px;

  --stats-font-family: var(--font-bold);
  --stats-font-weight: 700;
  --stats-line-height: 1.1;
  --stats-font-size-mobile: 56px;
  --stats-font-size-tablet: 78px;
  --stats-font-size-small-desktop: 78px;

  --stats-lrg-font-family: var(--font-bold);
  --stats-lrg-font-weight: 700;
  --stats-lrg-line-height: 1.1;
  --stats-lrg-font-size-mobile: 78px;
  --stats-lrg-font-size-tablet: 110px;
  --stats-lrg-font-size-small-desktop: 110px;

  --stats-small-font-family: var(--font-bold);
  --stats-small-font-weight: 700;
  --stats-small-line-height: 1.1;
  --stats-small-font-size-mobile: 32px;
  --stats-small-font-size-tablet: 48px;
  --stats-small-font-size-small-desktop: 48px;

  --button-lrg-font-family: var(--font-bold);
  --button-lrg-font-weight: 700;
  --button-lrg-line-height: 1.2;
  --button-lrg-font-size-mobile: 16px;
  --button-lrg-font-size-tablet: 20px;
  --button-lrg-font-size-small-desktop: 20px;

  --button-font-family: var(--font-semibold);
  --button-font-weight: 600;
  --button-line-height: 1.5;
  --button-font-size-mobile: 16px;
  --button-font-size-tablet: 16px;
  --button-font-size-small-desktop: 16px;

  --button-small-font-family: var(--font-semibold);
  --button-small-font-weight: 600;
  --button-small-line-height: 1.5;
  --button-small-font-size-mobile: 14px;
  --button-small-font-size-tablet: 14px;
  --button-small-font-size-small-desktop: 14px;

  --link-font-family: var(--font-semibold);
  --link-font-weight: 600;
  --link-line-height: 1.5;
  --link-font-size-mobile: 16px;
  --link-font-size-tablet: 16px;
  --link-font-size-small-desktop: 16px;

  --link-underline-font-family: var(--font-regular);
  --link-underline-font-weight: 500;
  --link-underline-line-height: 1.5;
  --link-underline-font-size-mobile: 16px;
  --link-underline-font-size-tablet: 16px;
  --link-underline-font-size-small-desktop: 16px;

  --breadcrumbs-font-family: var(--font-regular);
  --breadcrumbs-font-weight: 400;
  --breadcrumbs-line-height: 1.5;
  --breadcrumbs-font-size-mobile: 16px;
  --breadcrumbs-font-size-tablet: 16px;
  --breadcrumbs-font-size-small-desktop: 16px;
  --input-font-family: var(--font-regular);
  --input-font-weight: 400;
  --input-line-height: 1;
  --input-font-size-mobile: 16px;
  --input-font-size-tablet: 16px;
  --input-font-size-small-desktop: 16px;

  --input-caption-font-family: var(--font-semibold);
  --input-caption-font-weight: 600;
  --input-caption-line-height: 1;
  --input-caption-font-size-mobile: 14px;
  --input-caption-font-size-tablet: 14px;
  --input-caption-font-size-small-desktop: 14px;
}