@font-face {
  font-display: swap;
  font-family: 'RobotoLight';
  src: url("../../assets/fonts/roboto-light-webfont.woff") format("woff"),
       url("../../assets/fonts/roboto-light-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'RobotoRegular';
  src: url("../../assets/fonts/roboto-regular-webfont.woff") format("woff"),
       url("../../assets/fonts/roboto-regular-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'RobotoBold';
  src: url("../../assets/fonts/roboto-bold-webfont.woff") format("woff"),
       url("../../assets/fonts/roboto-bold-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}